@import "../styles/utils/vars";

.card {
  background-color: $main-color;
  border-radius: 8px;
  padding: 16px;
  min-width: $card-min-width;
  transition: all 0.3s ease-in-out;

  &__title {
    color: rgb(56, 22, 0);
  }
  &:hover {
    transform: scale(1.1);
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  &__price {
    margin-top: 16px;
  }
}

.price {
  display: flex;
  justify-content: space-between;

  &__label, &__value {
    font-size: 18px;
    font-weight: bold;
  }
}

.active {
  background-color: #5c5cbd;
  color: #e8ddff;
}