@import '../../styles/utils/vars';

.header {
  width: 100vw;
  color: white;
  display: flex;
  background-color: $main-blue;
  padding: 26px 55px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 32px;
  }

  &__menu {
    width: 44px;
    cursor: pointer;
  }
}